@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 50px;
}

.contact-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info, .contact-form {
    width: 48%;
}

header {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 350px;
}

body {
    overflow: hidden;
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.overlay {
    color: white;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.header-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.header-content button {
    padding: 0.5rem 1rem;
    font-family: 'SF Pro Display', sans-serif;
    color: white;
    background: #6C63FF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s;
    height: 40px;
    width: 100px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 12px;
    position: relative;
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.upload-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-icon p {
    margin: 0;
}

#fileInput {
    display: none;
}

.upload-icon .icon {
    font-size: 2rem;
    color: #6C63FF;
}

#fileList {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    width: 100%;
}

#fileList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    border-radius: 5px;
}

.file-icon {
    margin-right: 10px;
}

.remove-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.upload-btn {
    padding: 0.5rem 1rem;
    color: white;
    background: #6C63FF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-info h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-info p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 0.5rem;
}

.contact-info a {
    text-decoration: none;
    color: #6C63FF;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'SF Pro Display', sans-serif;
}

.contact-form button {
    padding: 10px;
    font-family: 'SF Pro Display', sans-serif;
    color: white;
    background: #6C63FF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s;
}
.get-in-touch {
    background-color: rgba(255, 255, 255, 0.9); /* white background with slight transparency */
    color: black; /* text color */
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.get-in-touch h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.get-in-touch p {
    font-size: 1rem;
    margin-bottom: 2rem;
}
