@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'SF Pro Display', sans-serif;
}

.navbar {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo img {
    height: 50px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contact-info {
    flex: 1;
    gap: 20px;

}

.contact-form {
    flex: 1;
    gap: 20px;
}

@media (max-width: 500px) {
    .contact-info, .contact-form {
      flex: 100%;
    }

    body {
        /**overflow: hidden; */
        background-image: url('./images/background.png'); /* Replace with the path to your background image */
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'SF Pro Display', sans-serif;
    }

    .contact-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
    }

    .contact-info {
        flex: 50%;
        gap: 20px;
    
    }
    
    .contact-form {
        flex: 50%;
        gap: 20px;
    }
  }

header {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 350px;
}

body {
    overflow: hidden; 
    background-image: url('./images/background.png'); /* Replace with the path to your background image */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'SF Pro Display', sans-serif;
}

.overlay {
    color: white;
    height:60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.header-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.header-content button {
    padding: 0.5rem 1rem;
    font-family: 'SF Pro Display', sans-serif;
    color: white;
    background: #6C63FF;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s;
    height: 40px;
    width: 120px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    padding: 20px;
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    color: black;
}

.close-button {
    color: #aaa;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

.header-content button:focus + .popup {
    display: block;
}

.header-content button:hover {
    background: #4b46b6;
}

.contact {
    padding: 2em;
    margin: 24px 0;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.contact ul {
    list-style-type: none;
}

.contact ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.contact ul li a {
    color: rgb(79, 78, 78);
    text-decoration: none;
    transition: color 0.3s;
}

.contact ul li a:hover {
    color: #4b46b6;
}

.contact {
    background-color: white;
    padding: 2em;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 2em auto;
    margin-top: -1rem;
    width: 90%;
    max-width: 1200px;
}

.contact h2 {
    margin-bottom: 1em;
    color: #333;
}

textarea {
    resize: none;
  }

.contact input,
.contact textarea {
    width: calc(50% - 10px);
    padding: 1em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.contact textarea {
    width: calc(100% - 16px);
    height: 100px;
}

.contact button {
    background-color: #6c63ff;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 2px;
    margin-bottom: 5px;
    width: 445px;
    border-radius: 6px;
}

.contact button:hover {
    background: #4b46b6;
}

.space {
    margin-top: 4px;
}

@media (max-width: 1000px) {
    .contact-info, .contact-form {
      flex: 100%;
    }

    body {
        overflow: auto;
        background-image: url('./images/background.png'); /* Replace with the path to your background image */
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'SF Pro Display', sans-serif;
    }

    .contact-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .contact-info {
        flex: 50%;
        gap: 20px;
    
    }
    
    .contact-form {
        flex: 50%;
        gap: 20px;
    }
  }