* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 400px;
}

body {
    background-image: url('background.png'); /* Replace with the path to your background image */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.overlay {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.header-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.header-content button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background: #6C63FF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
    height: 40px;
    width: 120px;
    border-radius: 12px;
}

.header-content button:hover {
    background: #45a049;
}

.contact {
    padding: 2rem;
    text-align: left-column;
    margin: 24px 0;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.contact ul {
    list-style-type: none;
}

.contact ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.contact ul li a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s;
}

.contact ul li a:hover {
    color: #45a049;
}

.contact {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 2em auto;
    width: 90%;
    max-width: 600px;
}
.contact h2 {
    margin-bottom: 1em;
    color: #333;
}
.contact input, .contact textarea {
    width: calc(50% - 10px);
    padding: 1em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.contact textarea {
    width: calc(100% - 22px);
    height: 100px;
}
.contact button {
    background-color: #6c63ff;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1em;
    width: 100%;
}